@model List<CountryModel>

@{
    ViewData["Title"] = "List";
}

<h1>Countries List</h1>

<p>
    <a asp-action="DisplayCreate">Create New Country</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Country Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
